{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Список Желаний - О сервисе</title>
{% endblock %}

{% block content %}
  <div class="list-group list-group-flush shadow p-3 mb-4 bg-body-tertiary rounded">
  <h3>Что такое вишлист<h3>
  <p class="lead">Название происходит от англиского Wish List — список желаний.</p>
  <p class="lead">По сути своей это простой список.</p>
  <h3>В чем польза составления вишлистов<h3>
      <p class="lead">Есть такая пословица в русской культуре - <mark>"Дареному коню в зубы не смотрят"</mark>, так вот смысл вишлистов как-раз в обратном - смотреть в зубы, и получать желаемые подарки.</p>
  <p class="lead">Конечно может показаться что человеку нужно продумывать свои желания, а думать вообще сложно, поэтому пускай дарят что-нубудь, тут и кроется самая большая проблема, называется она - "ненужная вещь".</p>
  <p class="lead">Такой список поможет получать только необходимые вещи, но при условии что вы уделите время на продумывание своих потребностей :)</p>
  <h3>Чем будет удобен наш сервис<h3>
  <p class="lead">Основная идея сервиса состоит в том, чтобы дать возможность человеку в любое время, затрачивая минимум усилий, составить список и удобно им поделиться.</p>
  </div>
{% endblock %}
