{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Make a wish - О сервисе</title>
{% endblock %}

{% block content %}
  <div class="container px-2 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Почему нужно использовать наш сервис</h2>
    <p>Самый простой подарок сейчас - это деньги, и вроде бы, человек сможет сам себе выбрать что захочет, минусов у такого решения нет.</p>
    <p>Однако, если задуматься, они есть:</p>
  <ul>
    <li>Зачастую вы не знаете что конкретно хочет человек, стоимость этого желания, вот сумма на подарок не набралась и человек остается без подарка
    </li>
    <li>Подарок это вещь ритуальная, всегда очень хочется получить его к событию, в этом есть определенное таинство
    </li>
    <li>Зная желание человека, вы уделяете внимание его интересам
    </li>
    <li>Вы сэкономите время на покупку подарка человеку</li>
    <li>Нужная вещь - уже дело, а вот деньги могут просто потратиться
  </lu>
  </div>
  <div class="container px-2 py-2" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Чем будет полезен сервис</h2>
    <div class="row g-2 py-2 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div>
          <h2>Планирование</h2>
          <p>Поможет планировать свои хотелки для вас, а для людей, коротые дарят, даст возможность понимать затраты и выбирать.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2>Рациональные покупки</h2>
          <p>Поможет избежать импульсивных покупок. Вы будете болеее внимательно обдумывать свои желания, а люди, которые дарят подарки, будут принимать взвешенные решения.</p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div>
          <h2>Снижает стресс</h2>
          <p>Вы будете понимать какие подарки хочет человек, вам нужно просто выбрать желаемый подарок,а не угадывать с подарком, или вспоминать кто что хотел.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
