{% extends 'base.html' %} 

{% load static %}

{% block title %}
<title>Make a wish - Как использовать сервис</title>
{% endblock %}

{% block content %}
<h1 class="text-body-emphasis">Небольшое <abbr title="Frequently Asked Questions">FAQ</abbr>, оно же ЧАВО, оно же Как пользоваться</h1>
      <p class="fs-5 col-md-8">которое поможет избежать:</p>
      <figure class="text-end">
        <blockquote class="blockquote">
          <p>Я что-то нажал/нажала и все пропало ... 🙄</p>
        </blockquote>
        <figcaption class="blockquote-footer">
         Чей-то мам, пап 
        </figcaption>
      </figure>
  <div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Как зарегистрироваться 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p>Чтобы зарегистрироваться нужно заполнить три поля ввода:
          <p>
            ввести имя пользователя и <strong>два</strong> раза повторить пароль,
          <p>
            а затем нажать на эту кнопку:
          </p>
            <button class="btn btn-primary btn" type="submit">
              Зарегистрироваться
            </button>
          <p>
          </p>
          </p>
          </p>
          <p>
            <strong>А еще наш сервис поддерживает авторизацию через социальные сети.</strong>
          </p>
          <p>
            На текущий вы можете исползовать:
          <ul>
            <li>
            Вконтакте
            </li>
            <li>
            Google
            </li>
            <li>
            GitHub
            </li>
          </ul>
          </p>
          <p>
            Кнопки выглядят вот так:
            <div class="text-center btn-group">
              <a
                href=""
                class="btn btn-outline-primary"
                >VK</a
              >
              <a
                href=""
                class="btn btn-outline-success"
                >GitHub</a
              >
              <a
                href=""
                class="btn btn-outline-warning"
                >Google</a
              >
            </div>
          </p>
          <p>
           Нажмите на кнопку социальной сети, которую вы хотите использовать  для входа, чтобы авториховаться. 
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         Создание списков 
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <p> Для создания списка введите его название в поле,</p>
          <p>например: "День рождения",</p>
          <p>и нажмите кнопку:
          </p>
          <p>
            <button type="submit" class="btn btn-primary btn">Добавить список</button>
          </p>
          <p>
          Вы создали свой первый список желаний. На вашей странице он будет выглядеть вот так:
          </p>

          <p>
            <div class="list-group  shadow p-3 mb-5 bg-body-tertiary rounded"
>
              <div class="fw-bold">День рождения</div>
              <a href="#collapseThree" class="link-secondary">Перейти к списку</a>
            </div> 
          </p>
          <p>
            Нажмите <a href="#collapseThree" class="link-secondary">Перейти к списку</a> чтобы добавить желания.
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
         Как добавить желание 
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p>
            Нажмите на зеленую кнопку, чтобы добавить желание:
          </p>
          <p>
            <button
              type="button"
              class="btn btn-outline-success mb-4"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Добавить желание
            </button>
          </p>
          <p>
            В появившимся окне вы можете внести следующую информацию: 
            <ul>
              <li>
                Название <strong>(обязательно)</strong>
              </li>
              <li>
                Ссылку на ресурс, где можно приобрести 
              </li>
              <li>
                Стоимость цифрами, пока в рублях
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
         Как поделиться списком
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse">
        <div class="accordion-body">
          <p>
            Нажмите на кнопку, чтобы отправить список вашей семье, друзьям или коллегам:
          </p>
          <p>
    <div class="dropdown">
      <a
        class="btn btn-outline-success dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Поделиться
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li>
          <a
            class="dropdown-item"
            href="#collapseFour"
            >Вконтакте</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#collapseFour"
            >Telegram</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="#collpseFour"
            >WhatsApp</a
          >
        </li>
      </ul>
    </div>
          </p>
          <p>
           Выберите социальную сеть или мессенджер для отправки 
          </p>
          <p>
            Список можно отправить в: 
            <ul>
              <li>
                Telegram 
              </li>
              <li>
                WhatsApp 
              </li>
              <li>
               Вконтакте 
              </li>
            </ul>
          </p>
          <p>
            Список будет виден при переходе по ссылке, <strong>зарегистрированные</strong> пользователи могут отметить какой подарок вам подарить и видеть уже выбранные подарки. 
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
