{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="list-group list-group-flush shadow p-3 mb-5 bg-body-tertiary rounded">
  {% for wishlist in wishlists %}
   <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold">{{ wishlist }}</div>
      {% if wishlist %}
        <a href="{% url 'wishlist' wishlist %}" class="link-secondary">Перейти к списку</a>
      </div>
        <a href="{% url 'del_wishlist' wishlist %}" class="link-danger">Удалить</a>
      {% endif %}
  </li>
  {%  endfor %}
</div>
</br>
<div class="container px-5">
<form class="row" method="POST">
  {% csrf_token %}
  <div class="col">
    <input type="Желание" class="form-control mb-3" name="wishlist" placeholder="Название списка желаний">
  </div>
  <div class="col">
    <button type="submit" class="btn btn-primary mb-3">Добавить список</button>
  </div>
</form>
</div>
{% endblock %}
