{% extends 'base.html' %} 

{% load static %}

{% block title %}
<title>
  Make a wish - Список {{ wishlist.title }} пользователя {{ request.user }}
</title>
{% endblock %}

{% block content %}
<div
  class="list-group list-group-flush shadow p-3 mb-4 bg-body-tertiary rounded"
>
  <h3>{{ wishlist.title }}</h3>
  {% for wish in wishes %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      {% if wish %}
      <div class="fw-bold">{{ wish.title }}</div>
      {% if wish.link %}
      <a href="{{ wish.link }}" target="_blank" class="link-secondary">Где купить</a>
      {% endif %} {% if wish.price %}
      <span class="badge bg-info">{{ wish.price }} руб.</span>
      {% endif %} {% if wish.is_given %}
      <span class="badge bg-success">Подарок выбрали</span>
      {% endif %}
    </div>
    <form method="GET">
      {% if user.is_authenticated and not wish.is_given %}
        <button
          type="submit"
          class="btn btn-outline-success"
          name="will_give"
          value="{{ wish.id }}"
        >
          Подарить
        </button>
      {% endif %}
      {% if not user.is_authenticated %}
        {% if not wish.is_given %}
          <a href="{% url 'login' %}?next={{ request.path }}">
              <button type="button" class="btn btn-outline-primary">Авторизоваться чтобы подарить</button>
          </a>
        {% endif %}
      {% endif %}
    </form>
    {% endif %}
  </li>
  {% endfor %}
</div>

<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Добавить желание</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form method="POST">
        {% csrf_token %}
        <div class="modal-body">
          <div class="container">
            <div class="col">
              <input
                type="wish-title"
                class="form-control mb-2"
                name="wish"
                placeholder="Название желания"
              />
              <input
                type="wish-link"
                class="form-control mb-2"
                name="link"
                placeholder="Ссылка"
              />
              <input
                type="wish-price"
                class="form-control mb-2"
                name="price"
                placeholder="Цена"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-outline-secondary"
            data-bs-dismiss="modal"
          >
            Отмена
          </button>
          <button type="submit" class="btn btn-outline-success">
            Добавить
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
