{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Авоська - {{ wishlist.title }}</title>
{% endblock %}

{% block content %}
  <div class="col justify-content-center d-flex">
    <button type="button" class="btn btn-outline-success mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Добавить желание 
    </button>
  </div>

  <div class="list-group list-group-flush shadow p-3 mb-4 bg-body-tertiary rounded">
    <h3>{{ wishlist.title }}</h3>
    <div class="row-md-4 justify-content-right d-flex">
      <div class="dropdown">
        <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Поделиться 
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% url 'share_wishlist' request.user.id wishlist.id as shared_url %}
        <li><a class="dropdown-item" href="https://vk.com/share.php?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}&title={{ wishlist.title }}&noparse=true">Вконтакте</a></li>
          <li><a class="dropdown-item" href="https://t.me/share/url?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}&text=Список {{ wishlist.title }}">Telegram</a></li>
          <li><a class="dropdown-item" href="https://api.whatsapp.com/send?text={{ wishlist.title }}%20{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}" data-action="share/whatapp/share">WhatsApp</a></li>
        </ul>
      </div>
    </div>
    {% for wish in wishes %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          {% if wish %}
            <div class="fw-bold">{{ wish.title }}</div>
          {% if wish.link %}
            <a href="{{ wish.link }}" class="link-secondary">Где купить</a>
          {% endif %}
          {% if wish.price %}
            <span class="badge bg-info">{{ wish.price }} руб.</span>
          {% endif %}
          {% if wish.is_given %}
            <span class="badge bg-success">Подарок выбрали</span>
          {% endif %}
        </div>
        <form method="GET">
          <button type="submit" class="btn btn-outline-danger" name="delete" value="{{ wish.id }}">Убрать</button>
        </form>
        {% endif %}
      </li>
    {% endfor %}
  </div>
  <div class="col text-left">
    <a href="{% url 'wishlists' %}" class="link-success">К cпискам желаний</a>
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Добавить желание</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="container">
                <div class="col">
                  <input type="wish-title" class="form-control mb-2" name="wish" placeholder="Название желания">
                  <p>{{ form.errors.wish }}</p>
                  <input type="wish-link" class="form-control mb-2" name="link" placeholder="Ссылка">
                  <p>{{ form.errors.link }}</p>
                  <input type="wish-price" class="form-control mb-2" name="price" placeholder="Цена">
                  <p>{{ form.errors.price }}</p>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-outline-success">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
