{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Список Желаний - {{ wishlist.title }}</title>
{% endblock %}

{% block content %}
  <div class="col justify-content-center d-flex">
    <button type="button" class="btn btn-outline-success mb-4" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Добавить желание 
    </button>
  </div>

  <div class="list-group list-group-flush shadow p-3 mb-4 bg-body-tertiary rounded">
    <h3>{{ wishlist.title }}</h3>
    {% for wish in wishes %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          {% if wish %}
            <div class="fw-bold">{{ wish.title }}</div>
          {% if wish.link %}
            <a href="{{ wish.link }}" class="link-secondary">Где купить</a>
          {% endif %}
          {% if wish.price %}
            <span class="badge bg-secondary">{{ wish.price }} руб.</span>
          {% endif %}
          {% if wish.will_give %}
            <span class="badge bg-secondary">Подарок выбрали</span>
          {% endif %}
        </div>
        <form method="GET">
          <button type="submit" class="btn btn-outline-danger" name="delete" value="{{ wish.id }}">Убрать</button>
        </form>
        {% endif %}
      </li>
    {% endfor %}
  </div>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Добавить желание</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <div class="container">
                <div class="col">
                  <input type="wish-title" class="form-control mb-2" name="wish" placeholder="Название желания">
                  <input type="wish-link" class="form-control mb-2" name="link" placeholder="Ссылка">
                  <input type="wish-price" class="form-control mb-2" name="price" placeholder="Цена">
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Отмена</button>
            <button type="submit" class="btn btn-outline-success">Добавить</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
