{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Make a wish - Твои списки желаний</title>
{% endblock %}

{% block content %}
  <div class="col justify-content-center d-flex">
    <form class="row justify-content-center" method="POST">
      {% csrf_token %}
      <div class="col-auto mb-3">
        <input type="wishlist-name" class="form-control" name="wishlist" placeholder="Название списка желаний">
        {{ form.errors.wishlist }}
      </div>
      <div class="col-auto mb-3">
        <button type="submit" class="btn btn-primary">Добавить список</button>
      </div>
    </form>
  </div>
  <div class="list-group list-group-flush shadow p-3 mb-5 bg-body-tertiary rounded">
    {% if wishlists %}
    {% for wishlist in wishlists %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">{{ wishlist.title }}</div>
        {% if wishlist %}
            <a href="{% url 'wishlist' wishlist.id %}" class="link-secondary">Перейти к списку</a>
        </div>
        <a href="{% url 'del_wishlist' wishlist.id %}" class="link-danger">Удалить</a>
        {% endif %}
      </li>
    {%  endfor %}
    {% endif %}
  </div>
{% endblock %}
