{% extends 'base.html' %} 

{% load static %} 

{% block title %}
  <title>Make a wish - Твои списки желаний</title>
{% endblock %}

{% block content %}
<div class="container-sm">
  <figure class="text-center">
    <blockquote class="blockquote">
      <p>Хороший подарок - подарок желанный!</p>
    </blockquote>
    <figcaption class="blockquote-footer">
      Вероника Маринина <cite title="Source Title">Дневники Вероники</cite>
    </figcaption>
  </figure>
</div>
<div class="col justify-content-center d-flex">
  <form class="" method="POST">
    {% csrf_token %}
    {% for field in form %}
      {{ field }}
    {% endfor %}
    <div class="col-auto mb-3">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    </div>
    <div class="text-center col-auto mb-3">
      <button type="submit" class="btn btn-primary btn">Добавить список</button>
    </div>
  </form>
</div>
<div
  class="list-group list-group-flush shadow p-3 mb-5 bg-body-tertiary rounded"
>
  {% if wishlists %} 
    {% for wishlist in wishlists %}
    <li class="list-group-item d-flex justify-content-between align-items-start">
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ wishlist.title }}</div>
        {% if wishlist %}
        <a href="{% url 'wishlist' wishlist.id %}" class="link-secondary"
          >Перейти к списку</a
        >
      </div>
      <form method="GET">
        <button
          type="submit"
          class="btn btn-outline-danger"
          name="delete"
          value="{{ wishlist.id }}"
        >
          Удалить
        </button>
      </form>
    {% endif %}
  </li>
  {% endfor %} 
  {% else %}
  <div class="p-5 mb-4 bg-light text-center rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-8 fw-bold">📝 создайте список</h1>
      <p class="fs-4">У вас еще нет списков.</p>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
