{% extends 'base.html' %} 

{% load static %} 

{% block title %}
<title>Make a wish - {{ wishlist.title }}</title>
{% endblock %} 

{% block content %}
 <script src="https://unpkg.com/htmx.org@1.9.9"></script>


<div class="col justify-content-center d-flex">
<button 
    hx-get="{% url 'modal' %}" 
    hx-target="#modals-here" 
    hx-trigger="click" 
    data-bs-toggle="modal" 
    data-bs-target="#modals-here"
    class="btn btn-outline-success mb-4">Добавить желание</button>
</div>

<div id="modals-here"
    class="modal modal-blur fade"
    style="display: none"
    aria-hidden="false"
    tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
    </div>
</div>

<div
  class="list-group list-group-flush shadow p-3 mb-4 bg-body-tertiary rounded"
>
  <h3>{{ wishlist.title }}</h3>
  <div class="row-md-4 justify-content-right d-flex">
    <div class="dropdown">
      <a
        class="btn btn-outline-success dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Поделиться
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% url 'share_wishlist' request.user.id wishlist.id as shared_url %}
        <li>
          <a
            class="dropdown-item"
            href="https://vk.com/share.php?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}&title={{ wishlist.title }}&noparse=true"
            >Вконтакте</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="https://t.me/share/url?url={{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}&text=Список {{ wishlist.title }}"
            >Telegram</a
          >
        </li>
        <li>
          <a
            class="dropdown-item"
            href="https://api.whatsapp.com/send?text={{ wishlist.title }}%20{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{ shared_url }}"
            data-action="share/whatapp/share"
            >WhatsApp</a
          >
        </li>
      </ul>
    </div>
  </div>
  {% for wish in wishlist.wishes.all %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      {% if wish %}
      <div class="fw-bold">{{ wish.title }}</div>
      {% if wish.link %}
      <a href="{{ wish.link }}" class="link-secondary">Где купить</a>
      {% endif %} {% if wish.price %}
      <span class="badge bg-info">{{ wish.price }} руб.</span>
      {% endif %} {% if wish.is_given %}
      <span class="badge bg-success">Подарок выбрали</span>
      {% endif %}
    </div>
    <form method="GET">
      <button
        type="submit"
        class="btn btn-outline-danger"
        name="delete"
        value="{{ wish.id }}"
      >
        Убрать
      </button>
    </form>
    {% endif %}
  </li>
  {% endfor %}
</div>
<div class="col text-left">
  <a href="{% url 'wishlists' %}" class="link-success">К cпискам желаний</a>
</div>

{% endblock %} 
